@page
@using Microsoft.Extensions.Localization
@using ProductManagement.Localization
@inject IStringLocalizer<ProductManagementResource> L
@model ProductManagement.Web.Pages.ProductManagement.Products.EditModel
@{
}
<form method="post" enctype="multipart/form-data">
	<abp-card>
		<abp-card-header>@L["EditProduct"]: @Model.Product.Title</abp-card-header>
		<abp-card-body>
			<input hidden asp-for="@Model.Product.Id" />
			<abp-input asp-for="@Model.Product.Title" label="@L["Title"]" />
			<abp-input asp-for="@Model.Product.Description" label="@L["Description"]" />
			<abp-input asp-for="@Model.Product.Price" label="@L["Price"]" />
			<abp-select asp-for="@Model.Product.CategoryId" label="@L["Category"]" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" />
			<abp-button button-type="Danger" type="submit" icon="save" text="@L["Save"].Value"></abp-button>
			<abp-button button-type="Primary" icon="close" text="@L["Close"].Value"></abp-button>
		</abp-card-body>
	</abp-card>
</form>